In [197]:
import pandas as pd
df=pd.read_csv('./data/CCTV.csv',encoding='cp949')

In [198]:
df.head()

,자치구,안심 주소,위도,경도,CCTV 수량,수정 일시
0,중랑구,중화2동 322-16(고정2)_C-JH02-0003-B,37.5963,127.0739,1,2022-12-01
1,중랑구,신내2동 651(고정4)_929,37.6150,127.0889,1,2022-12-01
2,중랑구,중화2동 323-14 (초롱공원)_C-JH02-0023,37.5957,127.0732,1,2022-12-01
3,중랑구,신내2동 602-1 (시조목 관리 보조)_C-SN02-0001-A,37.6066,127.0919,1,2022-12-01
4,중랑구,중화2동 323-14(고정1)_C-JH02-0023-A,37.5957,127.0732,1,2022-12-01

pydeck에서는 결측치가 없어야 함
geojson 형식의 데이터를 사용할 수도 있지만 일반적으로 DataFrame을 사용하여 시각화를 진행

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83734 entries, 0 to 83733
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구      83734 non-null  object
 1   안심 주소    83734 non-null  object
 2   위도       83734 non-null  float64
 3   경도       83734 non-null  float64
 4   CCTV 수량  83734 non-null  int64
 5   수정 일시    83734 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 3.8+ MB

결측치 없음

In [200]:
import pydeck as pdk

if '위도' not in df.columns or '경도' not in df.columns:
    raise ValueError("데이터프레임에 '위도' 및 '경도' 열이 포함되어 있어야 합니다.")
df=df.dropna(subset=['위도', '경도'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83734 entries, 0 to 83733
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구      83734 non-null  object
 1   안심 주소    83734 non-null  object
 2   위도       83734 non-null  float64
 3   경도       83734 non-null  float64
 4   CCTV 수량  83734 non-null  int64
 5   수정 일시    83734 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 3.8+ MB

In [201]:
#중복되는 값 제거
duplicates=df[(df['위도']==37.6398)&(df['경도']==127.0255)]
df=df.drop(duplicates.index[1:])  #첫 번째 항목을 제외한 중복 항목 제거
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82514 entries, 0 to 83733
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자치구      82514 non-null  object
 1   안심 주소    82514 non-null  object
 2   위도       82514 non-null  float64
 3   경도       82514 non-null  float64
 4   CCTV 수량  82514 non-null  int64
 5   수정 일시    82514 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 4.4+ MB

In [202]:
view_state=pdk.ViewState(
    latitude=df['위도'].mean(),
    longitude=df['경도'].mean(),
    zoom=10.5,
    min_zoom=8,
    max_zoom=13,
    #angle까지 정의 가능
    bearing=0,
    pitch=0 
)

In [203]:
layer_scatter=pdk.Layer(
    'ScatterplotLayer',
    data=df,
    get_position='[경도, 위도]',
    get_color='[255,30,30,100]', #RGBA 색상(Red, Green, Blue, Alpha)
    get_radius=20, # 각 점의 반지름(미터단위)
)

In [204]:
deck_scatter=pdk.Deck(
    layers=[layer_scatter],
    initial_view_state=view_state,
    map_style='light',
    tooltip={'text':'{안심주소}'}
)

In [205]:
deck_scatter.to_html('3D_scatter.html',
                     notebook_display=False,
                     open_browser=False)

In [206]:
df2=pd.read_csv('.\data\아파트 매매 실거래가_2020_2024.csv',encoding='utf-8')

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\paint\AppData\Local\Temp\ipykernel_23516\2830095097.py:1: SyntaxWarning: invalid escape sequence '\d'
  df2=pd.read_csv('.\data\아파트 매매 실거래가_2020_2024.csv',encoding='utf-8')

In [207]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14974 entries, 0 to 14973
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   aptDong           14974 non-null  object
 1   aptNm             14974 non-null  object
 2   buildYear         14974 non-null  int64
 3   buyerGbn          14974 non-null  object
 4   cdealDay          14974 non-null  object
 5   cdealType         14974 non-null  object
 6   dealAmount        14974 non-null  object
 7   dealDay           14974 non-null  int64
 8   dealMonth         14974 non-null  int64
 9   dealYear          14974 non-null  int64
 10  dealingGbn        14974 non-null  object
 11  estateAgentSggNm  14974 non-null  object
 12  excluUseAr        14974 non-null  float64
 13  floor             14974 non-null  int64
 14  jibun             14974 non-null  object
 15  landLeaseholdGbn  14974 non-null  object
 16  rgstDate          14974 non-null  object
 17  sggCd             14974 non-null  int64
 18  slerGbn           14974 non-null  object
 19  umdNm             14974 non-null  object
dtypes: float64(1), int64(6), object(13)
memory usage: 2.3+ MB

In [208]:
# 1) 서울시 시군구 코드 → 구명 매핑 딕셔너리
SGG_CODE_TO_GU = {
    11110: "종로구",
    11140: "중구",
    11170: "용산구",
    11200: "성동구",
    11215: "광진구",
    11230: "동대문구",
    11260: "중랑구",
    11290: "성북구",
    11305: "강북구",
    11320: "도봉구",
    11350: "노원구",
    11380: "은평구",
    11410: "서대문구",
    11440: "마포구",
    11470: "양천구",
    11500: "강서구",
    11530: "구로구",
    11545: "금천구",
    11560: "영등포구",
    11590: "동작구",
    11620: "관악구",
    11650: "서초구",
    11680: "강남구",
    11710: "송파구",
    11740: "강동구",
}

df2["구별"] = df2["sggCd"].astype("Int64").map(SGG_CODE_TO_GU)

In [209]:
import re
import numpy as np
import pandas as pd

# ----------------------------
# 0) 표준(타깃) 컬럼 정의
# ----------------------------
target_cols = [
    '법정동','지번','단지명','건축년도',
    '거래연도','거래월','거래일','지역코드',
    '층','전용면적','거래금액','구별','가격'
]

# ----------------------------
# 1) 원본(df2) → 표준 컬럼명 매핑
#    (아래 매핑에 없는 컬럼은 자동으로 버림)
# ----------------------------
rename_map = {
    'umdNm': '법정동',
    'jibun': '지번',
    'aptNm': '단지명',
    'buildYear': '건축년도',
    'dealYear': '거래연도',
    'dealMonth': '거래월',
    'dealDay': '거래일',
    'sggCd': '지역코드',
    'floor': '층',
    'excluUseAr': '전용면적',
    'dealAmount': '거래금액',
    # 시군구/자치구명 추정 컬럼 → '구별'
    # 필요시 여기에 더 추가
    # 'umdNm': '법정동',   # 상황에 따라 법정동으로 쓰고 싶다면 활성화
}

df_std = df2.rename(columns=rename_map).copy()

# ----------------------------
# 2) dealAmount(문자형) → 정수 변환(만원 가정)
#    - 쉼표/공백 제거
#    - 숫자 이외 문자 제거
# ----------------------------
if '거래금액' in df_std.columns:
    def to_int(x):
        if pd.isna(x):
            return np.nan
        s = str(x)
        s = s.replace(',', '').strip()
        # 숫자 이외 제거 (필요시 주석 처리)
        s = re.sub(r'[^0-9\-]', '', s)
        try:
            return int(s)
        except Exception:
            return np.nan

    df_std['거래금액'] = df_std['거래금액'].apply(to_int).astype('Int64')

# ----------------------------
# 3) 가격(억원) 파생: 거래금액(만원) 기준
#    - 부동산 실거래에서 흔히 거래금액이 "만원" 단위이므로 1억원=10,000만원
# ----------------------------
if '거래금액' in df_std.columns:
    df_std['가격'] = df_std['거래금액'] / 10000.0

# ----------------------------
# 4) 타입 정리
# ----------------------------
dtype_plan = {
    '법정동': 'string',
    '지번': 'string',
    '단지명': 'string',
    '건축년도': 'Int64',
    '거래연도': 'Int64',
    '거래월': 'Int64',
    '거래일': 'Int64',
    '지역코드': 'Int64',
    '층': 'Int64',
    '전용면적': 'float',
    '거래금액': 'Int64',
    '구별': 'string',
    '가격': 'float',
}

for c, t in dtype_plan.items():
    if c in df_std.columns:
        try:
            if t == 'string':
                df_std[c] = df_std[c].astype('string')
            elif t == 'Int64':
                # 안전 변환
                df_std[c] = pd.to_numeric(df_std[c], errors='coerce').astype('Int64')
            elif t == 'float':
                df_std[c] = pd.to_numeric(df_std[c], errors='coerce').astype(float)
        except Exception:
            pass

# ----------------------------
# 5) 표준 컬럼만 남기고, 존재 순서로 재정렬
# ----------------------------
existing = [c for c in target_cols if c in df_std.columns]
missing = [c for c in target_cols if c not in df_std.columns]

df_matched = df_std[existing].copy()

print(f"[정리 완료] 남은 컬럼: {len(existing)}개 / 표준 {len(target_cols)}개")
print("남긴 컬럼 순서:", existing)
if missing:
    print("누락된(원본에 없어서 삭제된) 표준 컬럼:", missing)
import numpy as np
import pandas as pd

# 예: df 안의 공백·빈칸을 NaN으로 바꾸기
df_matched = df_matched.replace(r'^\s*$', np.nan, regex=True)
df_matched = df_matched.dropna().reset_index(drop=True)

# 결과 확인
print(df_matched.info())

[정리 완료] 남은 컬럼: 13개 / 표준 13개
남긴 컬럼 순서: ['법정동', '지번', '단지명', '건축년도', '거래연도', '거래월', '거래일', '지역코드', '층', '전용면적', '거래금액', '구별', '가격']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14974 entries, 0 to 14973
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동     14974 non-null  string
 1   지번      14974 non-null  string
 2   단지명     14974 non-null  string
 3   건축년도    14974 non-null  Int64
 4   거래연도    14974 non-null  Int64
 5   거래월     14974 non-null  Int64
 6   거래일     14974 non-null  Int64
 7   지역코드    14974 non-null  Int64
 8   층       14974 non-null  Int64
 9   전용면적    14974 non-null  float64
 10  거래금액    14974 non-null  Int64
 11  구별      14974 non-null  string
 12  가격      14974 non-null  float64
dtypes: Int64(7), float64(2), string(4)
memory usage: 1.6 MB
None

In [210]:
df_matched.to_csv('./data/컬럼정리_아파트_매매_실거래가_2020_2024.csv',index=False,encoding='utf-8')

In [211]:
df_apt=df_matched.drop(columns=['건축년도','거래월','거래일','층','거래금액','지역코드'])
df_apt=df_apt.assign(
    주소지=df_matched['구별']+' '+df_matched['법정동']+' '+df_matched['지번']    
)
df_apt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14974 entries, 0 to 14973
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동     14974 non-null  string
 1   지번      14974 non-null  string
 2   단지명     14974 non-null  string
 3   거래연도    14974 non-null  Int64
 4   전용면적    14974 non-null  float64
 5   구별      14974 non-null  string
 6   가격      14974 non-null  float64
 7   주소지     14974 non-null  string
dtypes: Int64(1), float64(2), string(5)
memory usage: 950.6 KB

In [212]:
df_apt.head()

    법정동    지번             단지명  거래연도    전용면적   구별     가격            주소지
0   창신동   702           창신쌍용1  2020   54.70  종로구   3.10    종로구 창신동 702
1   평창동   596              삼성  2020   84.93  종로구   5.30    종로구 평창동 596
2   사직동   9-1  광화문스페이스본(106동)  2020  163.33  종로구  16.20    종로구 사직동 9-1
3  명륜3가  1-30              한빛  2020   59.73  종로구   3.45  종로구 명륜3가 1-30
4   창신동   702           창신쌍용1  2020  106.62  종로구   6.85    종로구 창신동 702

In [213]:
unique_addresses=df_apt['주소지'].unique()

print(f"고유 주소지 개수: {len(unique_addresses)}개")
unique_addresses[:5]

고유 주소지 개수: 3901개

<StringArray>
['종로구 창신동 702', '종로구 평창동 596', '종로구 사직동 9-1', '종로구 명륜3가 1-30',
 '종로구 창신동 639-50']
Length: 5, dtype: string

In [214]:
import os
if not os.path.exists('./data/아파트실거래가_위도경도.csv'):
    import requests
    apiurl = "https://api.vworld.kr/req/address?"

    geo_apt={}
    for address in unique_addresses:
        params = {
            "service": "address",
            "request": "getcoord",
            "crs": "epsg:4326",
            "address": address,
            "format": "json",
            "type": "parcel",
            "key": "3346A0C0-1596-3B19-903C-6CADB520EC4A"
        }
        response = requests.get(apiurl, params=params)
        if response.status_code == 200 and response.json()['response']['status']=='OK':
            point= response.json()['response']['result']['point']
            geo_apt[address]=(point['y'],point['x'])  #위도,경도
    print('처리 전 유일한 주소지의 개수:',len(unique_addresses), end='\r')
    print(f'처리된 주소지 개수: {len(geo_apt)}', end='\r')
    df_apt['위도']=df_apt['주소지'].map(lambda x: geo_apt[x][0] if x in geo_apt else np.nan)
    df_apt['경도']=df_apt['주소지'].map(lambda x: geo_apt[x][1] if x in geo_apt else np.nan)
    df_apt=df_apt.dropna(subset=['위도','경도'])
    df_apt.to_csv('./data/아파트실거래가_위도경도.csv',index=False,encoding='utf-8')
    df_apt=pd.read_csv('./data/아파트실거래가_위도경도.csv',encoding='utf-8')
else:
    df_apt=pd.read_csv('./data/아파트실거래가_위도경도.csv',encoding='utf-8')

In [215]:
import pandas as pd
import numpy as np
import pydeck as pdk

view_state_2d=pdk.ViewState(
    longitude=126.9979,
    latitude=37.5463,
    zoom=10.5,
    ptich=0
)

layer=pdk.Layer(
    'ScatterplotLayer',
    data=df_apt,
    get_position='[경도, 위도]',
    get_color='[200,30,0,160]',
    get_radius=100
)

deck=pdk.Deck(
    layers=[layer],
    initial_view_state=view_state_2d,
    map_style='light'
)

deck.to_html(
    'pydeck_apt_scatter.html',
    notebook_display=False,
    open_browser=False
)

In [216]:
df_avg_price=df_apt.groupby('구별')['가격'].mean().reset_index()
df_avg_price['정규화가격']=df_avg_price['가격']/df_avg_price['가격'].max()
df_avg_price.head()

    구별         가격     정규화가격
0  강남구  23.729630  0.998499
1  강동구  10.041167  0.422514
2  강북구   6.293679  0.264826
3  강서구   7.550807  0.317724
4  관악구   6.905297  0.290562

In [ ]:
import pandas as pd
gu_json=pd.read_json(r'.\data\N3A_G0100000.json')
df_gu_geo=pd.DataFrame()
#중구 데이터가 겹치므로 서울의 중구만 뽑아옴
seoul_features = [f for f in gu_json['features'] if f['properties']['BJCD'].startswith('11')]
# DataFrame 생성
df_gu_geo = pd.DataFrame({
    '구별': [f['properties']['NAME'] for f in seoul_features],
    '좌표': [f['geometry']['coordinates'] for f in seoul_features]
})
df_gu_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구별      25 non-null     object
 1   좌표      25 non-null     object
dtypes: object(2)
memory usage: 532.0+ bytes

In [218]:
df_avg_price=df_avg_price.merge(
    df_gu_geo,
    on='구별',
    how='left'
)

df_avg_price['가격_문자']=df_avg_price['가격'].apply(lambda x:f'{x:.2f}')
df_avg_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구별      25 non-null     object
 1   가격      25 non-null     float64
 2   정규화가격   25 non-null     float64
 3   좌표      25 non-null     object
 4   가격_문자   25 non-null     object
dtypes: float64(2), object(3)
memory usage: 1.1+ KB

In [219]:
df_avg_price.head()

,구별,가격,정규화가격,좌표,가격_문자
0,강남구,23.729630,0.998499,"[[[127.12420570237649, 37.466520546062526], [1...",23.73
1,강동구,10.041167,0.422514,"[[[127.1450900638618, 37.51688597740964], [127...",10.04
2,강북구,6.293679,0.264826,"[[[127.00866192524677, 37.68436962043264], [12...",6.29
3,강서구,7.550807,0.317724,"[[[126.86027064023601, 37.575627480957124], [1...",7.55
4,관악구,6.905297,0.290562,"[[[126.98168083231815, 37.47705734677845], [12...",6.91

In [220]:
import pandas as pd
from copy import deepcopy

def explode_multipolygon(df, coord_col="좌표"):
    rows = []
    for _, r in df.iterrows():
        coords = r[coord_col]
        # MultiPolygon: coords[0][0][0] 가 list/tuple
        is_multi = isinstance(coords[0][0][0], (list, tuple))
        if is_multi:
            for poly in coords:  # 각 폴리곤 단위로 행 분리
                rr = deepcopy(r)
                rr[coord_col] = poly
                rows.append(rr)
        else:
            rows.append(r)
    return pd.DataFrame(rows, columns=df.columns)

df_plot = explode_multipolygon(df_avg_price)

In [221]:
layer_polygon=pdk.Layer(
    'PolygonLayer',
    data=df_plot,
    get_polygon='좌표',
    opacity=0.8,
    get_fill_color='[0,255*정규화가격,0]',
    pickable=True,
    auto_highlight=True
)

tooltip={
    'html':'<b>{구별}</b><br/>평균가격: {가격_문자}억원',
    'style':{'color':'white','backgroundColor': 'steelblue'}}


deck_polygon=pdk.Deck(
    layers=[layer_polygon],
    initial_view_state=view_state_2d,
    map_style='dark',
    tooltip=tooltip
)

deck_polygon.to_html(
    'pydeck_apt_polygon_2d.html',
    notebook_display=False,
    open_browser=True
)