In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

cctv_seoul = pd.read_csv(r'./data/CCTV.csv', encoding='cp949')
pop_seoul  = pd.read_csv('.\data\ë“±ë¡ì¸êµ¬.csv', encoding='utf-8')

<>:7: SyntaxWarning: invalid escape sequence '\d'
<>:7: SyntaxWarning: invalid escape sequence '\d'
C:\Users\paint\AppData\Local\Temp\ipykernel_1756\753777552.py:7: SyntaxWarning: invalid escape sequence '\d'
  pop_seoul  = pd.read_csv('.\data\ë“±ë¡ì¸êµ¬.csv', encoding='utf-8')

íŒŒì¼ ìœ„ì¹˜ ì•ì˜ . ê°œìˆ˜ê°€ ëª‡ê°œì˜ ìƒìœ„ ê²½ë¡œë¡œ ê°ˆ ì§€ë¥¼ ëœ»í•¨ ex) r'../ë°ì´í„°ì‹œê°í™”/data~'

In [18]:
cctv_seoul.head()

,ìì¹˜êµ¬,ì•ˆì‹¬ ì£¼ì†Œ,ìœ„ë„,ê²½ë„,CCTV ìˆ˜ëŸ‰,ìˆ˜ì • ì¼ì‹œ
0,ì¤‘ë‘êµ¬,ì¤‘í™”2ë™ 322-16(ê³ ì •2)_C-JH02-0003-B,37.5963,127.0739,1,2022-12-01
1,ì¤‘ë‘êµ¬,ì‹ ë‚´2ë™ 651(ê³ ì •4)_929,37.6150,127.0889,1,2022-12-01
2,ì¤‘ë‘êµ¬,ì¤‘í™”2ë™ 323-14 (ì´ˆë¡±ê³µì›)_C-JH02-0023,37.5957,127.0732,1,2022-12-01
3,ì¤‘ë‘êµ¬,ì‹ ë‚´2ë™ 602-1 (ì‹œì¡°ëª© ê´€ë¦¬ ë³´ì¡°)_C-SN02-0001-A,37.6066,127.0919,1,2022-12-01
4,ì¤‘ë‘êµ¬,ì¤‘í™”2ë™ 323-14(ê³ ì •1)_C-JH02-0023-A,37.5957,127.0732,1,2022-12-01

ì•ˆì‹¬ ì£¼ì†Œ ì–¸ë”ë°” ë’¤ì— cctvì˜ idê°€ ë“¤ì–´ìˆìŒ

In [19]:
cctv_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83734 entries, 0 to 83733
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ìì¹˜êµ¬      83734 non-null  object
 1   ì•ˆì‹¬ ì£¼ì†Œ    83734 non-null  object
 2   ìœ„ë„       83734 non-null  float64
 3   ê²½ë„       83734 non-null  float64
 4   CCTV ìˆ˜ëŸ‰  83734 non-null  int64
 5   ìˆ˜ì • ì¼ì‹œ    83734 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 3.8+ MB

In [20]:
data=pd.DataFrame()
data['êµ¬ë³„']=cctv_seoul['ìì¹˜êµ¬'].unique()
cctv_count=cctv_seoul.groupby('ìì¹˜êµ¬').sum(['CCTV ìˆ˜ëŸ‰'])
cctv_count.reset_index(inplace=True)
cctv_count.drop(['ìœ„ë„', 'ê²½ë„'], axis=1, inplace=True)
cctv_count=cctv_count.rename(columns={'ìì¹˜êµ¬':'êµ¬ë³„'})
data=pd.merge(data,cctv_count,on='êµ¬ë³„')
data.head()

    êµ¬ë³„  CCTV ìˆ˜ëŸ‰
0  ì¤‘ë‘êµ¬     3471
1   ì¤‘êµ¬     2336
2  ì¢…ë¡œêµ¬     1930
3  ì€í‰êµ¬     4116
4  ìš©ì‚°êµ¬     1078

In [21]:
cctv_gu_count=cctv_seoul.groupby('ìì¹˜êµ¬').sum()['CCTV ìˆ˜ëŸ‰'] #ì‹œë¦¬ì¦ˆë¡œ ì €ì¥ë¨
cctv_gu=pd.DataFrame(cctv_gu_count) #ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜
cctv_gu=cctv_gu.reset_index() #ì¸ë±ìŠ¤ë¥¼ ì»¬ëŸ¼ìœ¼ë¡œ ë³€í™˜
cctv_gu=cctv_gu.rename(columns={'ìì¹˜êµ¬':'êµ¬ë³„'}) #ì»¬ëŸ¼ëª… ë³€ê²½

ì¸ë±ìŠ¤í•œí…Œë„ ì´ë¦„ì´ ìˆë‹¤. ê³ ë¡œ ë©€í‹° ì¸ë±ìŠ¤ ê°€ëŠ¥     
rename í•  ë•Œ inplace=True ì˜µì…˜ì€ ì‚¬ìš©í•˜ì§€ ë§ê³  ì¬ì •ì˜ ë°©ë²•ì„ ë” ì¶”ì²œí•¨      
method chainingì„ ì‚¬ìš©í•˜ê¸° ì–´ë ¤ì›Œì§€ê¸° ë•Œë¬¸

In [22]:
pop_seoul.head(10)

   ë™ë³„(1)     í•­ëª© 2025 2/4
0  ë™ë³„(1)     í•­ëª©       í•©ê³„
1     í•©ê³„      ê³„  9595509
2     í•©ê³„    í•œêµ­ì¸  9325616
3     í•©ê³„  ë“±ë¡ì™¸êµ­ì¸   269893
4    ì¢…ë¡œêµ¬      ê³„   149332
5    ì¢…ë¡œêµ¬    í•œêµ­ì¸   138015
6    ì¢…ë¡œêµ¬  ë“±ë¡ì™¸êµ­ì¸    11317
7     ì¤‘êµ¬      ê³„   129616
8     ì¤‘êµ¬    í•œêµ­ì¸   119097
9     ì¤‘êµ¬  ë“±ë¡ì™¸êµ­ì¸    10519

iloc: ì ˆëŒ€ìœ„ì¹˜(ì¸ë±ìŠ¤ ë²ˆí˜¸ê°€ ë°”ê»´ë„ ìœ„ì¹˜ì— ë”°ë¼ ì§€ì • ê°€ëŠ¥)    
loc: ì¸ë±ìŠ¤

In [23]:
pop_seoul_gu=pop_seoul[pop_seoul['í•­ëª©']=='ê³„']
pop_seoul_gu.drop('í•­ëª©',inplace=True, axis=1)
pop_seoul_gu=pop_seoul_gu.rename(columns={'ë™ë³„(1)':'êµ¬ë³„'})
pop_seoul_gu.reset_index(drop=True, inplace=True)
pop_seoul_gu= pop_seoul_gu.drop(index=0).reset_index(drop=True)
pop_seoul_gu=pop_seoul_gu.rename(columns={'2025 2/4':'ì¸êµ¬ìˆ˜'})

C:\Users\paint\AppData\Local\Temp\ipykernel_1756\164031717.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_seoul_gu.drop('í•­ëª©',inplace=True, axis=1)

In [24]:
pop_seoul_gu.head()

    êµ¬ë³„     ì¸êµ¬ìˆ˜
0  ì¢…ë¡œêµ¬  149332
1   ì¤‘êµ¬  129616
2  ìš©ì‚°êµ¬  216214
3  ì„±ë™êµ¬  280683
4  ê´‘ì§„êµ¬  350164

In [25]:
data=pd.merge(data,pop_seoul_gu,on='êµ¬ë³„')
data.head()

    êµ¬ë³„  CCTV ìˆ˜ëŸ‰     ì¸êµ¬ìˆ˜
0  ì¤‘ë‘êµ¬     3471  383958
1   ì¤‘êµ¬     2336  129616
2  ì¢…ë¡œêµ¬     1930  149332
3  ì€í‰êµ¬     4116  463165
4  ìš©ì‚°êµ¬     1078  216214

* ê¸°ì¤€ì‹œì  : ì—°ê°„ì€ ë§¤ë…„ 12.31ì¼ê¸°ì¤€, ë¶„ê¸°ëŠ” ë§¤ë¶„ê¸° ë§ê¸°ì¤€      
* ë¶„ê¸°(2025 2/4) 
* ì„¸ëŒ€ìˆ˜, ì„¸ëŒ€ë‹¹ì¸êµ¬ : ì™¸êµ­ì¸ ì œì™¸
* 65ì„¸ì´ìƒ ê³ ë ¹ì ìˆ˜ : ì™¸êµ­ì¸ í¬í•¨

In [26]:
crime_seoul= pd.read_csv(r'./data/ë²”ì£„í˜„í™©.csv', encoding='utf-8',
                         skiprows=2,header=[0,1])
#2ë²ˆì§¸ ì¤„ê¹Œì§€ ê±´ë„ˆë›°ê³ , 3,4ë²ˆì§¸ ì¤„ì„ í—¤ë”ë¡œ ì§€ì •

In [27]:
crime_seoul.head()

  ìì¹˜êµ¬ë³„(1) ìì¹˜êµ¬ë³„(2)     ì†Œê³„          ì‚´ì¸        ê°•ë„      ê°•ê°„Â·ê°•ì œì¶”í–‰           ì ˆë„  \
  ìì¹˜êµ¬ë³„(1) ìì¹˜êµ¬ë³„(2)     ë°œìƒ     ê²€ê±°   ë°œìƒ   ê²€ê±°   ë°œìƒ   ê²€ê±°      ë°œìƒ    ê²€ê±°     ë°œìƒ
0      í•©ê³„      ì†Œê³„  86213  64823  150  144  129  117    5764  5395  37038
1      í•©ê³„     ì¢…ë¡œêµ¬   2981   3485    5    6    5    7     239  1138   1169
2      í•©ê³„      ì¤‘êµ¬   3348   2465    3    3    6    5     212   144   1520
3      í•©ê³„     ìš©ì‚°êµ¬   3021   2268    3    4    3    3     245   219    978
4      í•©ê³„     ì„±ë™êµ¬   2023   1411    2    1    2    2     119    85    893

             í­ë ¥
      ê²€ê±°     ë°œìƒ     ê²€ê±°
0  21600  43132  37567
1    953   1563   1381
2    864   1607   1449
3    561   1792   1481
4    472   1007    851

In [28]:
crime_seoul.columns

MultiIndex([('ìì¹˜êµ¬ë³„(1)', 'ìì¹˜êµ¬ë³„(1)'),
            ('ìì¹˜êµ¬ë³„(2)', 'ìì¹˜êµ¬ë³„(2)'),
            (     'ì†Œê³„',      'ë°œìƒ'),
            (     'ì†Œê³„',      'ê²€ê±°'),
            (     'ì‚´ì¸',      'ë°œìƒ'),
            (     'ì‚´ì¸',      'ê²€ê±°'),
            (     'ê°•ë„',      'ë°œìƒ'),
            (     'ê°•ë„',      'ê²€ê±°'),
            ('ê°•ê°„Â·ê°•ì œì¶”í–‰',      'ë°œìƒ'),
            ('ê°•ê°„Â·ê°•ì œì¶”í–‰',      'ê²€ê±°'),
            (     'ì ˆë„',      'ë°œìƒ'),
            (     'ì ˆë„',      'ê²€ê±°'),
            (     'í­ë ¥',      'ë°œìƒ'),
            (     'í­ë ¥',      'ê²€ê±°')],
           )

ğŸ“Œ ì´í„°ë„ˆë¸”(iterable)ì´ë€?

í•œ ë²ˆì— í•˜ë‚˜ì”© êº¼ë‚¼ ìˆ˜ ìˆëŠ” ê°ì²´ë¥¼ ë§í•©ë‹ˆë‹¤.
ì‰½ê²Œ ë§í•´, forë¬¸ì— ë„£ì–´ì„œ ì°¨ë¡€ì°¨ë¡€ ë°˜ë³µí•  ìˆ˜ ìˆëŠ” ëª¨ë“  ê²ƒë“¤ì´ ì´í„°ë„ˆë¸”ì´ì—ìš”.

ë‹¤ì¤‘ í—¤ë”(MulitiIndex)ì»¬ëŸ¼ì„ ë‹¨ì¼ í…ìŠ¤íŠ¸ ì»¬ëŸ¼ìœ¼ë¡œ ë³€í™˜      
`crime_seoul.columns`
â†’ ì»¬ëŸ¼ëª…ì´ MultiIndex(íŠœí”Œ)ë¡œ ë˜ì–´ ìˆìŒ. ì˜ˆ: ('2023', '1ì›”')

`.map(lambda x: ...)`
â†’ ê° ì»¬ëŸ¼ íŠœí”Œì— ëŒ€í•´ í•¨ìˆ˜ë¥¼ ì ìš©í•¨.        
#mapí•¨ìˆ˜: ë°ì´í„°ë¥¼ ìˆœì„œëŒ€ë¡œ ê°€ì ¸ì™€ì„œ(ì´í„°ë„ˆë¸”í•œ ê°ì²´) í•˜ë‚˜ì”© ì ìš©ì‹œí‚¤ëŠ” í•¨ìˆ˜     

`lambda x: '_'.join(x)`
â†’ íŠœí”Œ ('2023','1ì›”')ì„ ë°›ì•„ì„œ "2023_1ì›”"ë¡œ í•©ì¹¨.

joinì€ ë¦¬ìŠ¤íŠ¸ë‚˜ íŠœí”Œì„ í•˜ë‚˜ì˜ ë¬¸ìì—´ë¡œ ë¬¶ëŠ” í•¨ìˆ˜ì˜ˆìš”.

'_'ë¥¼ ì‚¬ì´ì— ë„£ì–´ì„œ "ìƒìœ„_í•˜ìœ„" í˜•íƒœë¡œ ì»¬ëŸ¼ëª…ì„ ë‹¨ì¼ ë¬¸ìì—´ë¡œ ë°”ê¾¸ëŠ” ê²ë‹ˆë‹¤.

In [29]:
crime_seoul.columns=crime_seoul.columns.map(lambda x: '_'.join(x))
#ë‹¤ì¤‘ í—¤ë”(MulitiIndex)ì»¬ëŸ¼ì„ ë‹¨ì¼ í…ìŠ¤íŠ¸ ì»¬ëŸ¼ìœ¼ë¡œ ë³€í™˜
crime_seoul.head()

,ìì¹˜êµ¬ë³„(1)_ìì¹˜êµ¬ë³„(1),ìì¹˜êµ¬ë³„(2)_ìì¹˜êµ¬ë³„(2),ì†Œê³„_ë°œìƒ,ì†Œê³„_ê²€ê±°,ì‚´ì¸_ë°œìƒ,ì‚´ì¸_ê²€ê±°,ê°•ë„_ë°œìƒ,ê°•ë„_ê²€ê±°,ê°•ê°„Â·ê°•ì œì¶”í–‰_ë°œìƒ,ê°•ê°„Â·ê°•ì œì¶”í–‰_ê²€ê±°,ì ˆë„_ë°œìƒ,ì ˆë„_ê²€ê±°,í­ë ¥_ë°œìƒ,í­ë ¥_ê²€ê±°
0,í•©ê³„,ì†Œê³„,86213,64823,150,144,129,117,5764,5395,37038,21600,43132,37567
1,í•©ê³„,ì¢…ë¡œêµ¬,2981,3485,5,6,5,7,239,1138,1169,953,1563,1381
2,í•©ê³„,ì¤‘êµ¬,3348,2465,3,3,6,5,212,144,1520,864,1607,1449
3,í•©ê³„,ìš©ì‚°êµ¬,3021,2268,3,4,3,3,245,219,978,561,1792,1481
4,í•©ê³„,ì„±ë™êµ¬,2023,1411,2,1,2,2,119,85,893,472,1007,851

In [30]:
crime_seoul=crime_seoul.rename(columns={'ìì¹˜êµ¬ë³„(2)_ìì¹˜êµ¬ë³„(2)':'êµ¬ë³„',
                                        'ì†Œê³„_ë°œìƒ':'ë²”ì£„ë°œìƒ',
                                        'ì†Œê³„_ê²€ê±°':'ë²”ì£„ê²€ê±°'})
crime_seoul=crime_seoul[['êµ¬ë³„','ë²”ì£„ë°œìƒ','ë²”ì£„ê²€ê±°']]
crime_seoul=crime_seoul[crime_seoul['êµ¬ë³„']!='ì†Œê³„'].reset_index(drop=True)
crime_seoul.head()

    êµ¬ë³„  ë²”ì£„ë°œìƒ  ë²”ì£„ê²€ê±°
0  ì¢…ë¡œêµ¬  2981  3485
1   ì¤‘êµ¬  3348  2465
2  ìš©ì‚°êµ¬  3021  2268
3  ì„±ë™êµ¬  2023  1411
4  ê´‘ì§„êµ¬  3424  2333

In [31]:
data=pd.merge(data,crime_seoul,on='êµ¬ë³„')
#mergeí•  ë•Œ left_on, right_on ì˜µì…˜ ì‚¬ìš© ê°€ëŠ¥(ì²«ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„ì˜ ì»¬ëŸ¼ëª…, ë‘ë²ˆì§¸ ë°ì´í„°í”„ë ˆì„ì˜ ì»¬ëŸ¼ëª…ì´ ë‹¤ë¥¼ ë•Œ)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   êµ¬ë³„       25 non-null     object
 1   CCTV ìˆ˜ëŸ‰  25 non-null     int64
 2   ì¸êµ¬ìˆ˜      25 non-null     object
 3   ë²”ì£„ë°œìƒ     25 non-null     int64
 4   ë²”ì£„ê²€ê±°     25 non-null     int64
dtypes: int64(3), object(2)
memory usage: 1.1+ KB

ë°ì´í„°ë¥¼ ë³‘í•©í•˜ëŠ” ë°ì—ëŠ” concat, merge, joinì„ ì‚¬ìš©í•  ìˆ˜ ìˆë‹¤.      
mergeë¡œ joinì˜ ê¸°ëŠ¥ì„ ëŒ€ì²´ ê°€ëŠ¥í•˜ê³  ë” ìš°ìˆ˜í•¨   

mergeí•  ë•Œ how='left'ì¸ ê²½ìš° df1ì—ëŠ” ì—†ê³  df2ì—ë§Œ ìˆëŠ” í‚¤ì¸ ê²½ìš° ë°ì´í„° ì‚¬ë¼ì§, df2ì— ì—†ëŠ” í‚¤ëŠ” ê²°ê³¼ì— í¬í•¨ë˜ì§€ë§Œ, ê·¸ ê°’ì€ NaNìœ¼ë¡œ ì±„ì›Œì§. >  ë°˜ëŒ€ 'left'     
how='inner'ì¸ ê²½ìš°ëŠ” ë‘ ë°ì´í„°í”„ë ˆì„ì— ë‘˜ ë‹¤ ì¡´ì¬í•˜ëŠ” í‚¤ì¼ ë•Œë§Œ ë‚¨ê¹€  >  ë°˜ëŒ€ 'outer'     

default: inner

íŒŒìƒë³€ìˆ˜ ìƒì„±(assign, apply)
- cctv ë¹„ìœ¨, ì¸êµ¬ë¹„ìœ¨, ê²€ê±°ìœ¨ ë“±

In [32]:
data['ì¸êµ¬ìˆ˜']=data['ì¸êµ¬ìˆ˜'].astype(int)

In [33]:
data=data.assign(
    cctvë¹„ìœ¨=data['CCTV ìˆ˜ëŸ‰']/data['CCTV ìˆ˜ëŸ‰'].sum()*100,
    ì¸êµ¬ë¹„ìœ¨=data['ì¸êµ¬ìˆ˜']/data['ì¸êµ¬ìˆ˜'].sum()*100,
    ê²€ê±°ìœ¨=data['ë²”ì£„ê²€ê±°']/data['ë²”ì£„ë°œìƒ']*100,
    cctvì¸êµ¬ë¹„ìœ¨=data['CCTV ìˆ˜ëŸ‰']/data['ì¸êµ¬ìˆ˜']*100,
    ë²”ì£„ìœ¨= data['ë²”ì£„ë°œìƒ']/data['ì¸êµ¬ìˆ˜']*100000
)
data.head()
data.to_csv('./data/í†µí•©ë°ì´í„°.csv', index=False)